.h-22px {
    height: 22px;
}
.align-items-center {
    align-items: center;
}
.text-17px {
    font-size: 17px;
}
.leading-21px {
    line-height: 21px;
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
}
.text-212832 {
    color: #212832;
}
.w-102px {
    width: 102px;
}
.rounded-5px {
    border: 1px solid #212832;
    border-radius: 5px;
}
.line-height-40 {
    line-height: 40px;
}
.h-770px {
    height: 770px;
}

/**********!        HeroContent        **********/
